body {
    background-color: #001F3D;
    padding: 0px;
    margin: 0px;
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.tester {
    display: none;
}
.session_keeper {
    display: none;
}
ul#treelist {
    background-color: #000000;
    border: 2px solid #E1DED5;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
ul#treelist li {
    list-style-type: disc;
    padding-top: 4px;
}
ul#treelist li a {
    color: #e55b2b;
    text-decoration: none;
}
ul#treelist li a:hover {
    color: #ffffff;
    text-decoration: underline;
}
p {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 13px;
}
p a {
    color: #e55b2b;
    text-decoration: none;
}
p a:hover {
    color: #ffffff;
    text-decoration: underline;
}
img {
    border: 0;
}
#main_header {
    background-color: #995e12;
    width: 100%;
}
#main_header #menu {
    padding-left: 40px;
    padding-bottom: 16px;
    padding-top: 22px;
    font-size: 22px;
    color: #251E6B;
    white-space: nowrap;
}
#main_header #menu a {
    color: #251E6B;
    text-decoration: none;
}
#main_header #menu a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
#main_header #logo {
    font-size: 42px;
    padding-top: 20px;
    padding-left: 20px;
    white-space: nowrap;
}
#main_header #logo a {
    text-decoration: none;
    color: white;
}
#main_header #fx_big {
    margin-top: 35px;
    margin-left: 400px;
}
#options {
    background-color: #A97838;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 4px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #2c1f0f;
}
#options #info {
    margin-left: 20px;
    white-space: nowrap;
}
#options #diff_info {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 12px;
}
#options #diff_info a {
    color: #251E6B;
    text-decoration: none;
}
#options #diff_info a:hover {
    color: #FFFFFF;
}
#options #alternatives {
    color: #251E6B;
    font-size: 13px;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 5px;
    white-space: nowrap;
}
#options #alternatives a, .link {
    color: #251E6B;
    text-decoration: none;
}
#options #alternatives a:hover, .link.active {
    color: #FFFFFF;
    text-decoration: none;
}
#options #description {
    font-size: 12px;
    margin-left: 10px;
    padding-left: 10px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #FFFFFF;
}
@media (max-width: 1024px) {
    #options #description {
        display: none;
    }
}
#diffwraper {
    margin-left: 0px;
    margin-right: 40px;
}
#diff {
    background-color: #000000;
    border: 2px solid #E1DED5;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
}
#diff .old {
    background-color: #450a0a;
}
#diff .new {
    background-color: #0a451b;
}
#diff .even {
    background-color: #090909;
}
#diff td {
    font-family: monospace;
    font-size: 8pt;
    white-space: pre-wrap;
}
#diff .nr1 {
    text-align: right;
    vertical-align: top;
    width: 0px;
    padding-left: 15px;
    color: #0083A0;
    background-color: #000000;
}
#diff .nr2 {
    text-align: right;
    vertical-align: top;
    width: 0px;
    padding-left: 15px;
    padding-right: 10px;
    color: #0083A0;
    background-color: #000000;
}
#diff .plus {
    text-align: center;
    background-color: #1c5327;
    width: 15px;
    margin-left: 10px;
}
#diff .minus {
    text-align: center;
    background-color: #5a1e1d;
    width: 15px;
    margin-left: 10px;
}
#shadow {
    height: 37px;
    background: linear-gradient(
        180deg,
        #000000 0%,
        #00101f 25%,
        #00172e 50%,
        #001f3d 100%
    );
}
#code {
    background-color: #000000;
    border: 2px solid #E1DED5;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width: 1024px) {
    #code {
        border: none;
        margin: -37px 0px 0px 0px;
        padding: 2px 0px 0px 0px;
    }
}
#code pre {
    color: #0083A0;
    font-size: 8pt;
    overflow-x: auto;
    overflow-y: hidden;
    tab-size: 4;
    margin: 0px;
}
#codeform {
    background-color: #000000;
    border: 2px solid #E1DED5;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: inherit;
    padding: 20px;
}
.code_field {
    width: 100%;
    font-size: 12px;
}
#codeform #field1 {
    float: left;
    right: 0px;
    width: 250px;
    border-style: none;
    margin: 0px;
    padding: 0px;
}
#codeform #field2 {
    margin: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
}
#field3 {
    float: left;
    clear: left;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;
    margin-top: -50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 250px;
}
.send {
    height: 50px;
    width: 100%;
    font-size: 14pt;
    color: #251F51;
    font-style: normal;
    font-weight: bold;
}
