<!DOCTYPE html>
<html>
  <head>
    <title>Soder's Pastebin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <div id="main_header">
      <div id="logo">
        <a href="/">
          <img src="/static/logo.png" alt="Soder's Pastebin">
        </a>
      </div>
      <div id="menu">
        <a href="/">Index</a>
      </div>
    </div>
{% block options %}{% endblock %}
    <div id="shadow"></div>
    <div id="content">
{% block content %}{% endblock %}
    </div>
  </body>
</html>
