{% extends "base.html" %}

{% block options %}
  <div id="options">

    <div style="float: left;" id="left">
      <div id="info">
        Pasted by <b>{{ list.name }}</b> at
        {{ list.date }}, {{ list.time }}.
      </div>
    </div>

    {% if !list.description.is_blank() %}
      <div style="float: left;" id="right">
        <div id="description">
          {{ list.description }}
        </div>
      </div>
    {% endif %}

  </div>
{% endblock %}

{% block content %}
  <div id="code">
    {{ html|safe }}
  </div>
{% endblock %}
