<div id="options">
  <span id="left">
    <span id="info">
      Pasted by <b>{{ list.name }}</b> at
      {{ list.date }}, {{ list.time }}.
    </span>
  </span>

  {% if !list.description.is_blank() %}
    <span id="right">
      <span id="description">
        {{ list.description }}
      </span>
    </span>
  {% endif %}

  <div id="alternatives">
    {{ self.link(PastePage::Highlight)|safe }} |
    {{ self.link(PastePage::Tree)|safe }} |
    {{ self.link(PastePage::Raw)|safe }}
  </div>
</div>
